body{
    margin: 0px;
}
.heading{
    background-color: #7FA44E!important;
    margin-bottom: 0%;
    position: sticky;
    top: 0px;
    z-index: 2;
    
    }

    .heading .heading1 .logo img{
        height: 40px;
        width: 40px;
        margin-left: 100px;
    }
    .heading .heading1 .logo span{
    font-size: xx-large;
    color: #023C2E!important;
    font-weight: bold;
    }
    .heading .heading1 .uldiv{
        margin-right: 10%!important;
    }
    .heading .heading1 .uldiv ul li{
    margin: 0px 40px;
    position: relative;
    z-index: 1;
    }
    
    .heading .heading1 .uldiv ul li:hover::after{
        content: "";
        position: absolute;
        transform: skewX(30deg);
        top: 9px;
        height: 50px;
        width: 110px;
        background-color: #023C2E;
        margin-left: -10px;
        z-index: -1;
    
    }
       
    .heading .heading1 .uldiv ul .special-li::after{
        content: "";
        position: absolute;
        transform: skewX(30deg);
        top: 9px;
        height: 50px;
        width: 110px;
        background-color: #023C2E;
        margin-left: -10px;
        z-index: -1;
    
    }
    .heading .heading1 .uldiv ul .special-li:before{
        content: "";
        position: absolute;
        transform: skewX(30deg);
        top: 1px;
        left: -16px;
        height: 10px;
        width: 110px;
        background-color: #070a0a;
        margin-left: -10px;
        
        z-index: -1;
    
    }
    .heading .heading1 .uldiv ul li:hover:before{
        content: "";
        position: absolute;
        transform: skewX(30deg);
        top: 1px;
        left: -16px;
        height: 10px;
        width: 110px;
        background-color: #070a0a;
        margin-left: -10px;
        
        z-index: -1;
    
    }
    .heading .heading1 .uldiv ul li a{
        color: white!important;
        margin-top: 5px;
    }
.bgimg{
    height: 600px;
    width: 100%;
    background-image: url(../image/nissan_fairlady_z_proto_spec_2022_4k_8k-t2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

 .morbi{
     margin: 30px 5%;
 }
.morbi h1{
text-align: center;
position: relative;
z-index: -1;
}
/* .morbi h1::after{
    content: "";
    height: 3px;
    width: 80px;
    background-color: black;
    position: absolute;
    top: 63px;
    margin-left: -150px;
  
   
} */
.morbi .disflex{
    display: flex;
    margin-top: 100px;
    width: 100%;
}

.morbi .disflex .morleft{
    width: 60%;
}
.morbi .disflex .morleft img{
    height: 250px;
    width: 650px;
    margin: 0px ;
    margin-left: 1%;
    
}
.morbi .disflex .morleft .morbiacc{
    margin-top: 20px!important;
    margin-left: 1%;
}
.morbi .disflex .morleft .morbiacc span{
    font-size: 32px;
   
}
.morbi .disflex .morleft .morbiacc p{
    text-align: justify;
    margin-right: 10px;
    
}

.morbi .disflex .morleft .morbiacc .morb{
    color:#023C2E ;
} 
.morbi .disflex .morleft .morbiacc .acc{
    color: #7FA44E;
}
.morbi .disflex .morleft .morbiacc .button{
    padding: 10px 25px;
    color: white;
    background-color:  #023C2E ;
    border-color:#023C2E ;
}
.morbi .disflex .morright{
    width: 40%;
    margin-left: 5%;
   
}
 

.morbi .disflex .morright .img  div{
    width: 100%;
    position: relative;
    z-index: 1;
}
.morbi .disflex .morright .img  div h2{
    display: none;
}
.morbi .disflex .morright .img  div:hover h2{
    display: block;
}
.morbi .disflex .morright .img  div:hover::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .9;
    position: absolute;
     z-index: -1;
}
.morbi .disflex .morright .img .imgone{
    background-image: url(../image/imagesn1.jpg);
    width: 380px;
    height: 175px;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #7FA44E;
    justify-content: center;
    background-repeat: no-repeat;
    
    
    }


.morbi .disflex .morright .img .imgtwo{
    background-image: url(../image/imagesn2.jpg);
    width: 380px;
    height: 175px;
    background-size: cover;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    color: #7FA44E;
    justify-content: center;
    background-repeat: no-repeat;
}
.morbi .disflex .morright .img  .imgthree{
    background-image: url(../image/imagesn2.jpg);
    width: 380px;
    height: 175px;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #7FA44E;
    justify-content: center;
    background-repeat: no-repeat;
}




.proin{
    margin: 0px 100px;
}
.proin h1{
    text-align: center;
    position: relative;
}
/* .proin h1::after{
    content: "";
    height: 3px;
    width: 80px;
    background-color: black;
    position: absolute;
    top: 63px;
    margin-left: -150px;
} */

.proin .prow .col img{
    height: 100px;
    width: 100px;
    justify-content: center;
}
.rececnt-post .rec-head h1{
    position: relative;
}
/* .rececnt-post .rec-head h1::after{
    content: "";
    height: 3px;
    width: 80px;
    background-color: black;
    position: absolute;
    top: 63px;
    margin-left: -150px;
} */
.rececnt-post .rec-lr  .postimg .imgcap .sp1{
    color: #023C2E;
    font-weight: 600;

}
.rececnt-post .rec-lr .postimg .imgcap .sp2{
    color: #7FA44E;
    font-weight: 600;

}
.rececnt-post .rec-lr  .postimg .pimg{   
    width: 500px;
}

.rececnt-post .rec-lr  .postimg .pimg img{
    height: 200px;
    width: 100%;
}
.rececnt-post .rec-lr  .postimg .pimg p{
    text-align: justify;
}
.rececnt-post .rec-lr  .postimg .pimg span{
    color: #7FA44E;
    font-weight: 600;
    font-size: large;
}
.conclusion{
    height: 400px;
    background-color:#7FA44E ;
    margin-top: 0px;
}
.conclusion .header{
    height: 40px;
    width: 100%;
    background-color: #023C2E ;
}

.conclusion .js p{
    text-align: justify;
}






@media only screen and (max-width: 600px) {
 
    .heading {
        height: 80px!important;
        position: relative;
    }


    .heading .heading1 .logo img{
        margin-left: 10px;
    }

    .heading .heading1 .uldiv ul {
        right: 0%;
        position: absolute;
        transition: 2s;
         padding: 0;
         background-color: #7FA44E;  
    }  

    .heading .heading1 .uldiv ul li{ 
       width: 100px;
        padding: 0;  
    } 

    .heading .heading1 .uldiv ul li a{
    width: 100%; 
    text-align: right;
    } 

    .heading .heading1 .uldiv ul li:hover a{
        color: #023c2e !important; 
        font-weight: bold;  
    }

    .heading .heading1 .uldiv ul li:hover::after{
        content: none;  
    }

    .heading .heading1 .uldiv ul li:hover:before{
        content:none;           
    }

   
           
    .heading .heading1 .uldiv ul .special-li::after{
        content: none;
    }

    .heading .heading1 .uldiv ul .special-li:before{
        content: none;
    }

    .bgimg{
        height: 400px;
    }
    .morbi .disflex{
        display: block;
        margin-top: 50px;
        justify-content: center;
     
    }

    .morbi .disflex .morleft{
        width: 100%;
    }
    .morbi .disflex .morleft img{
        height: 150px;
        width: 100%;
        margin-left: 0px;   
    }

    .morbi .disflex .morleft .morbiacc{
        margin-left: 0px;
    }

    .morbi .disflex .morright{
        width: 100%;
        margin-left: 0px;
        margin-top: 40px;
       
    }
    .rececnt-post .rec-lr {
        display: block!important;
    }
    .rececnt-post .rec-lr .rec-start{
        width: 100%!important;
    }

    .rececnt-post .rec-lr .rec-end{
        width: 100%!important;
        margin-left: 0%!important;
        padding-left: 0%!important;
    }
    .rececnt-post .rec-lr  .postimg .pimg{   
        width: 100%!important;
    }

    .conclusion{
    height: auto;
}

.conclusion .header{
    height: 20px;
}

.conclusion .row {
  display: block!important;
}

.conclusion .row .colone h4{
margin-left: 0%!important;
margin-bottom: 20px!important;
color: #023C2E ;
font-weight: bold;
}

.conclusion .row .colone a{
margin-left: -15px!important;   
}

.conclusion .row .coltwo h4{
    color: #023C2E ;
    font-weight: bold;
    margin-bottom:10px!important ;
    margin-top: 50px!important;
}

.conclusion .row .colthree{
    margin-left: 0%!important;
    }

    .conclusion .row .colthree h4{
        margin-bottom: 20px!important;
        color: #023C2E ;
        font-weight: bold;
        margin-top: 50px!important;
    }
    .conclusion .row .colfour h4{
        
        color: #023C2E ;
        font-weight: bold;
        margin-top: 50px!important;
    }
}





@media only screen and (max-width: 768px) {
 
    .heading {
        height: 80px!important;
        position: relative;
    }


    .heading .heading1 .logo img{
        margin-left: 10px;
    }

    .heading .heading1 .uldiv ul {
        right: 0%;
        position: absolute;
        transition: 2s;
         padding: 0;
         background-color: #7FA44E;  
    }  

    .heading .heading1 .uldiv ul li{ 
       width: 100px;
        padding: 0;  
    } 

    .heading .heading1 .uldiv ul li a{
    width: 100%; 
    text-align: right;
    } 

    .heading .heading1 .uldiv ul li:hover a{
        color: #023c2e !important; 
        font-weight: bold;  
    }

    .heading .heading1 .uldiv ul li:hover::after{
        content: none;  
    }

    .heading .heading1 .uldiv ul li:hover:before{
        content:none;           
    }

   
           
    .heading .heading1 .uldiv ul .special-li::after{
        content: none;
    }

    .heading .heading1 .uldiv ul .special-li:before{
        content: none;
    }

    .bgimg{
        height: 400px;
    }
    .morbi .disflex{
        display: block;
        margin-top: 50px;
        justify-content: center;
     
    }

    .morbi .disflex .morleft{
        width: 100%;
    }
    .morbi .disflex .morleft img{
        height: 150px;
        width: 100%;
        margin-left: 0px;   
    }

    .morbi .disflex .morleft .morbiacc{
        margin-left: 0px;
    }

    .morbi .disflex .morright{
        width: 100%;
        margin-left: 0px;
        margin-top: 40px;
       
    }
    .rececnt-post .rec-lr {
        display: block!important;
    }
    .rececnt-post .rec-lr .rec-start{
        width: 100%!important;
    }

    .rececnt-post .rec-lr .rec-end{
        width: 100%!important;
        margin-left: 0%!important;
        padding-left: 0%!important;
    }
    .rececnt-post .rec-lr  .postimg .pimg{   
        width: 100%!important;
    }

    .conclusion{
    height: auto;
}

.conclusion .header{
    height: 20px;
}

.conclusion .row {
  display: block!important;
}

.conclusion .row .colone h4{
margin-left: 0%!important;
margin-bottom: 20px!important;
color: #023C2E ;
font-weight: bold;
}

.conclusion .row .colone a{
margin-left: -15px!important;   
}

.conclusion .row .coltwo h4{
    color: #023C2E ;
    font-weight: bold;
    margin-bottom:10px!important ;
    margin-top: 50px!important;
}

.conclusion .row .colthree{
    margin-left: 0%!important;
    }

    .conclusion .row .colthree h4{
        margin-bottom: 20px!important;
        color: #023C2E ;
        font-weight: bold;
        margin-top: 50px!important;
    }
    .conclusion .row .colfour h4{
        
        color: #023C2E ;
        font-weight: bold;
        margin-top: 50px!important;
    }
}


@media only screen and (max-width: 992px) {
 
    .heading {
        height: 80px!important;
        position: relative;
    }


    .heading .heading1 .logo img{
        margin-left: 10px;
    }

    .heading .heading1 .uldiv ul {
        right: 0%;
        position: absolute;
        transition: 2s;
         padding: 0;
         background-color: #7FA44E;  
    }  

    .heading .heading1 .uldiv ul li{ 
       width: 100px;
        padding: 0;  
    } 

    .heading .heading1 .uldiv ul li a{
    width: 100%; 
    text-align: right;
    } 

    .heading .heading1 .uldiv ul li:hover a{
        color: #023c2e !important; 
        font-weight: bold;  
    }

    .heading .heading1 .uldiv ul li:hover::after{
        content: none;  
    }

    .heading .heading1 .uldiv ul li:hover:before{
        content:none;           
    }

   
           
    .heading .heading1 .uldiv ul .special-li::after{
        content: none;
    }

    .heading .heading1 .uldiv ul .special-li:before{
        content: none;
    }

    .bgimg{
        height: 400px;
    }
    .morbi .disflex{
        display: block;
        margin-top: 50px;
        justify-content: center;
     
    }

    .morbi .disflex .morleft{
        width: 100%;
    }
    .morbi .disflex .morleft img{
        height: 250px;
        width: 100%;
        margin-left: 0px;   
    }

    .morbi .disflex .morleft .morbiacc{
        margin-left: 0px;
    }

    .morbi .disflex .morright{
        width: 100%;
        margin-left: 0px!important;
        margin-top: 40px;
       
    }

    .morbi .disflex .morright .img .imgone{
        width: 500px!important;
        height: 200px;
   }

    
    .morbi .disflex .morright .img .imgtwo{
        height: 200px;
        width: 500px!important;
    }

  
    .morbi .disflex .morright .img .imgthree{
        height: 200px;
        width: 500px!important;
    }

    
   
    .rececnt-post .rec-lr {
        display: block!important;
    }
    .rececnt-post .rec-lr .rec-start{
        width: 100%!important;
    }

    .rececnt-post .rec-lr .rec-end{
        width: 100%!important;
        margin-left: 0%!important;
        padding-left: 0%!important;
    }
    .rececnt-post .rec-lr  .postimg .pimg{   
        width: 100%!important;

    }

    .rececnt-post .rec-lr  .postimg .pimg img{
        height: 250px;
        width: 100%;
    }

    .morbi .disflex .morright{
        width: 100%;
        margin-left: 0%;
       
    }

    .conclusion{
    height: auto;
}

.conclusion .header{
    height: 20px;
}

.conclusion .row {
  display: block!important;
}

.conclusion .row .colone h4{
margin-left: 0%!important;
margin-bottom: 20px!important;
color: #023C2E ;
font-weight: bold;
}

.conclusion .row .colone a{
margin-left: -15px!important;   
}

.conclusion .row .coltwo h4{
    color: #023C2E ;
    font-weight: bold;
    margin-bottom:10px!important ;
    margin-top: 50px!important;
}

.conclusion .row .colthree{
    margin-left: 0%!important;
    }

    .conclusion .row .colthree h4{
        margin-bottom: 20px!important;
        color: #023C2E ;
        font-weight: bold;
        margin-top: 50px!important;
    }
    .conclusion .row .colfour h4{
        
        color: #023C2E ;
        font-weight: bold;
        margin-top: 50px!important;
    }
}



@media only screen and (min-width:768px) and (max-width: 1200px){

    .heading .heading1 .uldiv{
        margin-right: 10%!important;
    }

    .heading .heading1 .uldiv{
        margin-right: 0%!important;
    }
    .morbi{
        margin: 30px 2%;
    }
    .morbi .disflex .morleft img{
        height: 250px;
        width: 550px;
    
    }
    .morbi .disflex .morleft .morbiacc p{
        margin-right: 5%;
    }
   
    .rececnt-post .rec-lr  .postimg .pimg{   
        width: 400px;
    }
    .rececnt-post .rec-lr  .postimg img{
        height: 200px;
        width: 100%;
    }
    .morbi .disflex .morright{
       margin-left: 3%;
        
       
    }
    .morbi .disflex .morright .img .imgone{
        width: 370px;
    }

    .morbi .disflex .morright .img .imgtwo{
        width: 370px;

    }

    .morbi .disflex .morright .img  .imgthree{
        width: 370px;
       

    }
    .conclusion{
        height: auto;
    }
    
    
 
}